{% load static %}
<nav class="navbar navbar-expand-md sticky-top site-header navbar-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="ml-auto navbar-nav">
                {% if active_user.about_me %}
                    <li class="nav-item">
                        <a class="nav-link color-main" href="#about_me">{{ active_user.about_me_title }}</a>
                    </li>
                {% endif %}
                {% if active_user.career %}
                    <li class="nav-item">
                        <a class="nav-link color-main" href="#career">{{ active_user.career_title }}</a>
                    </li>
                {% endif %}
                {% if active_user.projects %}
                    <li class="nav-item">
                        <a class="nav-link color-main" href="#projects">{{ active_user.projects_title }}</a>
                    </li>
                {% endif %}
                {% if active_user.enable_contact_me %}
                    <li class="nav-item">
                        <a class="btn btn-main nav-link text-white" href="#contact">{{ active_user.contact_me_title }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>